* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
.container {
  max-width: 1220px;
  width: 100%;
  padding: 0px 20px;
  margin: 0 auto;
  box-sizing: border-box;
}

.footer {
  margin-top: 157px;
  display: flex;
  justify-content: space-between;
  .foter1 {
    h6 {
      max-width: 256px;
      width: 100%;
      font-family: Roboto;
      font-size: 28px;
      font-weight: 700;
      line-height: 36.01px;
      text-align: left;
      color: #211f54;
    }
    p {
      max-width: 304px;
      width: 100%;
      padding-bottom: 33px;
      font-family: Roboto;
      font-size: 18px;
      font-weight: 400;
      line-height: 30.01px;
      text-align: left;
      color: #6e7191;
    }
  }
}

.foter2 {
  .contac {
    padding-bottom: 29px;
  }
  span {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 700;
    line-height: 22px;
    text-align: left;
    color: #211f54;
    margin-bottom: 29px;
  }
  p {
    padding-bottom: 15px;
    max-width: 259px;
    width: 100%;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 30.01px;
    text-align: left;
    color: #6e7191;
  }
}
.foter3 {
  p {
    color: #211f54;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 700;
    line-height: 22px;
    text-align: left;
    padding-bottom: 28px;
  }
  h4 {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    text-align: left;
    color: #211f54;
    padding-bottom: 8px;
  }
  a {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 30.01px;
    text-align: left;
    color: #6e7191;
    padding-bottom: 18px;
  }
  h6 {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    text-align: left;
    color: #211f54;
  }
}
.foter4 {
  span {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 700;
    line-height: 22px;
    padding-bottom: 28px;
    color: #211f54;
  }
  p {
    padding-top: 28px;
    font-family: Roboto;
    font-size: 28px;
    font-weight: 700;
    line-height: 36.01px;
    text-align: left;
    color: #0075ff;
  }
  h6 {
    max-width: 294px;
    width: 100%;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 30.01px;
    text-align: left;
    padding-bottom: 18px;
    color: #6e7191;
  }
  button {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
    color: #fff;
    padding: 26px 38px;
    border-radius: 14px;
    border: none;
    background-color: #0075ff;
  }
}
